<% provide :title, t(:home) %>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">  
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>  
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <h3><%= t "activity.my_activities" %></h3><br/>
        <ul class="list-unstyled">
          <% if @activities.any? %>
            <%= render @activities %>
            <%= paginate @activities %>
          <% end %>
          <hr/>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="center jumbotron">
      <h1><%= t :welcome %></h1>
    </div>
    <%= link_to t(:sign_up_now), new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
