<% provide :title, @course.content %>
<div class="row">
  <div class="col-md-5 panel panel-default">
    <div class="text-center">
      <h3><%= t :all_trainee %></h3>
      <ul class="list-unstyled">
        <% @course.user_courses.each do |user_course| %>
          <div class="input-group fields">
            <div class="form-control">
              <span><%= link_to user_course.user.name, "#" %></span>
            </div>
            <span class="input-group-addon">
              <%= link_to [:supervisor, user_course], method: :delete,
                data: {confirm: t("warning.delete")} do %>
                <% t :remove %>
              <% end %>
            </span>
          </div>
        <% end %>
      </ul>
      <hr/>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 panel panel-default">
    <h3><%= t "user_courses.add_users_for_course",
      content: @course.content %></h3>
    <hr/>
    <%= form_for @course,
      url: supervisor_course_add_user_courses_path(@course) do |f| %>
      <%= f.collection_check_boxes :user_ids, @users, :id, :name do |b| %>
        <div class="col-md-offset-1 ">
          <%= b.label do %>
            <%= b.check_box + " " + b.text %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit t(:add_user), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
