<%= provide :title, @user_course.course.content %>
<h3><%= @user_course.course.content %></h3>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3><%= t "courses.description" %></h3>
      <p><%= @user_course.course.description %></p>
      <br/>
      <h3><%= t "courses.subjects" %></h3>
      <ul>
        <% @user_course.trainee_subjects.each do |trainee_subject| %>
          <li>
            <%= render "trainee_subject_form",
              trainee_subject: trainee_subject %>
            <hr>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3><%= t :all_users %></h3>
      <ul class="list-unstyled">
        <% @user_courses.each do |user_course| %>
          <div class="input-group fields">
            <div class="form-control">
              <span>
                <%= link_to user_course.user.name, user_course.user %>
              </span>
            </div>
            <div class="input-group-addon">
              <%= t "user_course.#{user_course.status}" %>
            </div>
          </div>
        <% end %>
      </ul>
      <%= paginate @user_courses %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3><%= t "activity.status" %></h3><br/>
      <ul class="list-unstyled">
        <% if @activities.any? %>
          <% @activities.each do |activity| %>
            <li>
              <% if activity.owner.supervisor? %>
                <%= activity.owner.name %>
              <% else %>
                <%= link_to activity.owner.name, activity.owner %>
              <% end %>
              <%= activity.key %>
              <%= activity.trackable.class %>
              <%= activity.trackable.content %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
