<%= provide :title, @user_course.course.content %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3><%= @user_course.course.content %></h3><hr>
        <%= @user_course.course.description %><hr>
        <%= t "user_courses.status" %>
        <%= render "shared/status_label", label: @user_course.course.status %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3><%= t "courses.subjects" %></h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @user_course.trainee_subjects.each do |trainee_subject| %>
            <li>
              <h4>
                <%= link_to trainee_subject.subject_content,
                  trainee_subject_path(trainee_subject) %>
              </h4>
              <hr>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3><%= t :all_users %></h3>
      </div>
      <ul class="list-unstyled">
        <% @user_courses.each do |user_course| %>
          <div class="input-group fields">
            <div class="form-control">
              <span>
                <%= link_to user_course.user.name, user_course.user %>
              </span>
            </div>
            <div class="input-group-addon">
              <%= t "user_course.#{user_course.status}" %>
            </div>
          </div>
        <% end %>
      </ul>
      <%= paginate @user_courses %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3><%= t "activity.all_activities" %></h3><br/>
      <ul class="list-unstyled">
        <% if @activities.any? %>
          <%= render @activities %>
          <%= paginate @activities %>
        <% end %>
        <hr/>
      </ul>
      <div class="text-center">
        <%= link_to user_course_path @user_course, action_type: @bottom do %>
          <div class="btn btn-primary">
            <%= @bottom %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

