<li>
  <% if activity.owner.supervisor? %>
    <%= activity.owner.name %>
  <% elsif current_user? activity.owner %>
    <%= t "activity.you" %>
  <% else %>
    <%= link_to activity.owner.name, activity.owner %>
  <% end %>

  <%= activity.key.include?(".") ? activity.key.split(".").last : activity.key %>
  
  <% if activity.trackable.nil? %>
    <%= activity.trackable_type %>
    <%= activity.trackable_id %>
    <strong><%= t "activity.had_deleted" %></strong>
  <% else %>
    <%= activity.trackable.class %>
    <%= (activity.trackable_type == "User") ? activity.trackable.name :
      activity.trackable.content %>
  <% end %>
  <%= t "activity.at" %>
  <%= activity.created_at %>
</li>
<br>
