<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :content, t("courses.content") %>
      <%= f.text_field :content, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :description, t("courses.description") %>
      <%= f.text_area :description, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :start_date, t("courses.start_date") %>
      <%= f.date_field :start_date, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :end_date, t("courses.end_date") %>
      <%= f.date_field :end_date, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-md-6 choose-subjects-field">
    <%= f.label :subjects, t("courses.subjects") %>
    <ul class="choose-subjects">
    <%= f.fields_for :course_subjects do |ff| %>
      <div class="form-group">
        <% if @course.subjects.include? ff.object.subject %>
          <%= ff.hidden_field :id, value: ff.object.id %>
          <%= ff.check_box :_destroy, {checked: true}, 0, 1 %>
        <% else %>
          <%= ff.check_box :subject_id, {checked: false},
            ff.object.subject.id, "" %>
        <% end %>
        <%= ff.label :subject_id, ff.object.subject.content %>
      </div>
    <% end %>
    </ul>
  </div>
  <div class="form-group">
    <%= f.submit t("courses.submit"),
      class: "btn btn-primary col-md-2 col-md-offset-5" %>
  </div>
</div>
<br>
<div class="form-group">
  <%= link_to t("courses.go_back"),
    supervisor_courses_path, class: "btn btn-default col-md-2 col-md-offset-5" %>
</div>
