<%= provide :title, t("courses.new_course") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3><%= t "courses.new_course" %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_for [:supervisor, @course] do |f| %>
              <%= render "shared/error_messages", object: @course %>
              <%= render "course_form", f: f %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
