<% provide :title, @course.content %>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <h3><%= @course.content %></h3><hr>
      <p><%= @course.description %></p><hr>
      <% if @course.started? %>
        <strong><%= t "courses.started" %></strong>
      <% else %>
        <%= form_for [:supervisor, @course] do |f| %>
          <%= f.hidden_field :status, value: :started %>
          <%= f.submit t("courses.start"), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    
    <div class="panel panel-default text-center">
      <h3><%= t "courses.subjects" %></h3><hr>
      <ul class="list-unstyled">
      <% @course.subjects.each do |subject| %>
        <li>
          <%= subject.content %>
          <%= subject.description %>
        </li>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <h3><%= t :all_trainee %></h3><hr>
      <div class="center">
        <%= link_to edit_supervisor_course_add_user_courses_path(@course),
          class: "btn btn-info" do %>
          <span><%= t :add_user %></span>
        <% end %>
      </div>
      <ul class="list-unstyled">
        <% @course.user_courses.each do |user_course| %>
          <div class="input-group fields">
            <div class="form-control">
              <span><%= link_to user_course.user.name, "#" %></span>
            </div>
            <span class="input-group-addon">
              <%= link_to [:supervisor, user_course], method: :delete,
                data: {confirm: t("warning.delete")} do %>
                <% t :remove %>
              <% end %>
            </span>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
