<% provide :title, @course.content %>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <h3><%= @course.content %></h3><hr>
      <ul class="list-unstyled">
        <%= @course.description %><hr>
        <% if @course.subjects.any? && @course.users.any? %>
          <% if @course.ready? %>
            <%= form_for [:supervisor, @course] do |f| %>
              <%= f.hidden_field :status, value: :started %>
              <%= f.submit t("courses.start"), class: "btn btn-primary" %>
            <% end %>
          <% elsif @course.started? %>
            <strong><%= t "courses.started" %></strong><hr>
            <%= form_for [:supervisor, @course] do |f| %>
              <%= f.hidden_field :status, value: :finished %>
              <%= f.submit t("courses.finish"), class: "btn btn-primary" %>
            <% end %>
          <% elsif @course.finished? %>
            <strong><%= t "courses.finished" %></strong>
          <% end %>
        <% else %>
          <%= t "courses.not_ready" %>
        <% end %>
      </ul>
    </div>
    
    <div class="panel panel-default text-center">
      <h3><%= t "courses.subjects" %></h3><hr>
      <ul class="list-unstyled">
        <% if @course.course_subjects.any? %>
          <% if @course.ready? %>
            <div class="col-md-12"><%= t "courses.please_start" %></div>
          <% end %>
          <% @course.course_subjects.each do |course_subject| %>
            <li class="row">
              <div class="col-md-4"><%= course_subject.subject_content %></div>
              <div class="col-md-4"><%= course_subject.subject_description %></div>
              <div class="col-md-4">
                <%= form_for [:supervisor, course_subject], method: :patch do |f| %>
                  <% if @course.ready? %>
                    <%= f.submit t("course_subjects.start"), class:
                      "btn btn-primary", disabled: true %>
                  <% else %>
                    <% if course_subject.ready? %>
                      <%= f.hidden_field :status, value: :started %>
                      <%= f.submit t("course_subjects.start"), class:
                        "btn btn-primary", disabled: (@course.finished? ? true : false) %>
                    <% elsif course_subject.started? %>
                      <%= f.submit t("course_subjects.in_progress"), class:
                        "btn btn-primary", disabled: true %>
                    <% elsif course_subject.finished? %>
                      <%= f.submit t("course_subjects.finished"), class:
                        "btn btn-primary", disabled: true %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% else %>
          <%= t "subject.please_add" %><hr>
          <div><%= link_to supervisor_courses_path,
            class: "btn btn-primary" do %>
            <span><%= t "subject.add_subject" %></span>
          <% end %></div>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <h3><%= t :all_trainee %></h3><hr>
      <ul class="list-unstyled">
        <% if @course.user_courses.any? %>
          <% @course.user_courses.each do |user_course| %>
            <div class="input-group fields">
              <div class="form-control">
                <span><%= link_to user_course.user.name, "#" %></span>
              </div>
              <span class="input-group-addon">
                <% if @course.ready? %>
                  <%= link_to [:supervisor, user_course], method: :delete,
                    data: {confirm: t("warning.delete")} do %>
                    <%= t :remove %>
                  <% end %>
                <% else %>
                  <%= t :remove %>
                <% end %>
              </span>
            </div>
          <% end %>
        <% else %>
          <%= t "user_courses.please_add" %>
        <% end %>
        <hr>
        <div class="center">
          <% if @course.ready? %>
            <%= link_to edit_supervisor_course_add_user_courses_path(@course),
              class: "btn btn-primary" do %>
              <span><%= t "user_courses.add_trainees" %></span>
            <% end %>
          <% else %>
            <%= link_to edit_supervisor_course_add_user_courses_path(@course),
              class: "btn btn-primary", disabled: true do %>
              <span><%= t "user_courses.add_trainees" %></span>
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
