<% provide :title, t(:edit_trainee) %>
<h1><%= t :edit_trainee %></h1>
<%= form_for [:supervisor, @user] do |f| %>
  <%= render "shared/error_messages" , object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>

  <%= f.select :role, @role_type.collect{|key, value| [t(key), key]} %>

  <%= f.submit t(:edit_trainee), class: "btn btn-primary" %>
<% end %>
