<% provide :title, t(:new_trainee) %>
<h1><%= t :new_trainee %></h1>
<%= form_for [:supervisor, @user] do |f| %>
  <%= render "shared/error_messages", object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.select :role, @role_type.collect{|key, value| [t(key), key]} %>

  <%= f.submit t(:new_trainee), class: "btn btn-primary" %>
<% end %>
