<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3><%= t "subject.task" %></h3>
    <%= f.label :content %><br/>
    <%= f.text_field :content, class: "form-control" %><br/>

    <%= f.label :description %><br/>
    <%= f.text_field :description, class: "form-control" %>

    <%= f.hidden_field :_destroy, value: "0" %>
    <%= link_to t("remove"), "", class: "remove_fields" %>
    <hr/>
  </div>
</div>
