<%= provide :title, t("subject.new_subject") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3><%= t "subject.new_subject" %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_for [:supervisor, @subject_form] do |f| %>
              <%= render "shared/error_messages", object: @subject_form %>
              <%= render "form", f: f %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
