<%= provide :title, @course.content %>
<h3><%= @course.content %></h3>
<% unless @user_course.nil? %>
  <%= form_for [current_user, @user_course] do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.submit t("courses.join"), class: "btn btn-primary" %>
  <% end %>
<% else %>
  <div class="alert alert-info">
    <%= t "courses.joined" %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <h3><%= t "courses.description" %></h3>
      <p><%= @course.description %></p>
      <br/>
      <h3><%= t "courses.subjects" %></h3>
      <ul class="list-inline">
        <% @course.subjects.each do |subject| %>
          <li>
            <%= link_to subject.content, "#",
              class: "btn btn-lg btn-default" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
    <h3><%= t :all_users %></h3>
      <ul class=" list-unstyled">
        <% @user_courses.each do |user_course| %>
          <div class="input-group fields">
            <div class="form-control">
              <span><%= link_to user_course.user.name, user_course.user %></span>
            </div>
            <div class="input-group-addon">
              <%= t(user_course.status) %>
            </div>
          </div>
        <% end %>
      </ul>
      <%= paginate @user_courses %>
    </div>
  </div>
</div>
