<% provide :title, @subject.content %>
<div class="row">
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h3><%= @subject.content %></h3><hr>
      <%= @subject.description %><hr>
      <%= t "trainee_subjects.status_is" %>
      <%= render "shared/status_label", label: @trainee_subject.status %>
    </div>
    <%= form_for @trainee_subject, url: trainee_subject_path(@trainee_subject,
      method: :patch) do |f| %>
      <div class="panel-body">
        <%= f.fields_for :trainee_tasks do |ff| %>
          <div class="col-md-2">
            <div class="panel panel-default text-center">
              <h4><%= ff.label ff.object.task.content %></h4>
              <%= ff.label ff.object.task.description %>
              <% if ff.object.id.nil? %>
                <p><%= ff.check_box :task_id, {checked: false},
                  ff.object.task.id %></p>
                <%= ff.hidden_field :finished, value: true %>
                <%= ff.hidden_field :user_id, value: @trainee_subject.user.id %>
              <% else %>
                <p><%= t "trainee_subject.task_finished" %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "submit_button", f: f, trainee_subject: @trainee_subject,
        tasks: @tasks %>
      <hr>
      <div class="form-group">
        <%= link_to t("trainee_subjects.go_back"),
          user_course_path(@trainee_subject.user_course), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
